.header-app {
  background-color: white !important;
  box-shadow: none;
  height: 80px;

}
.nav-link {
  color: black !important;
  font-weight: 600;
  font-family: 'BhookyFont-Regular';
  font-size: 15px;
  margin-right: 15px;
  a:hover{
  text-decoration: none;
}
}
.nav-link:hover{
  color:#813e1d !important
}
.nav-link.active{
  color:#ec9c75 !important
}
.appName:hover{
  color: black !important; 
}

a{
  color: inherit !important;
}
nav select {
  display: none;
}
.user-menu .Component-paper-5{
  box-shadow: rgba(28, 28, 28, 0.15) 0px 2px 8px;
  border: none !important;
  ul{
    padding: unset;
  }
}