.center-slider{
    // background: darkseagreen;
}
.slick-prev:before, .slick-next:before{
font-size: 35px;
color: black !important;
}
.slick-initialized .slick-slide {
    display: block;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.slick-slider{
    padding: 15px !important;
    height: 300px;
}
.slick-slide:hover {
    transform: scale(1.1);
     transition: 0.25s;
     transition-timing-function: ease;
  }

.card-media-overlay{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
}
.card-category-text{
    color: white;
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.MuiCard-root {
    transition: all 0.3s ease 0s;
  }
