@import "./common/styles/custom.scss";

// .MuiAppBar-colorPrimary {
//   color: white !important;
// }

.backdrop{
  color: #fff;
  z-index: 1201 !important;
}
.app{
  flex-flow: column;
  height: 100vh;
  overflow-x: hidden;;
}